body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #454545;
}

header {
  align-items: center;
  border-bottom: 1px solid #CDCDCD;
  display: flex;
  justify-content: space-between;
}

.grupo-header {
  align-items: center;
  display: flex;
}

#logo {
  height: 42px;
  width: auto;
}

#app-nombre {
  font-size: 1.44rem;
}

#agregar-usuario-btn,
#ver-mas-btn {
  background: transparent;
  background-size: cover;
  border: none;
  padding: 0;
  height: 42px;
  width: 42px;
}

#agregar-usuario-btn {
  background-image: url("img/user-icon.png");
}

#ver-mas-btn {
  background-image: url("img/ellipsis.png");
}

#chat{
  display: flex;
}

#users {
  border-right: 1px solid #CDCDCD;
  padding: 16px;
}

.personas {
  background-color: #DBDBDB;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 50px;
  margin-bottom: 16px;
  position: relative;
  width: 50px;
}

.conexion {
  background: #00d13b;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  bottom: 1px;
  right: 1px;
  height: 10px;
  width: 10px;
}

.conexion-nula {
  background: #cdcdcd;
}

#mensajes {
  display: flex;
  flex-direction: column;
}

.mensaje {
  display: flex;
  flex-direction: column;
  padding: 15px; 
}

.mensaje-imagen {
  background-color: #DBDBDB;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.mensaje-texto {
  border: .6px solid #fcfafa;
  box-shadow: 5px 5px 0px #f5f0f0;
  padding: 5px;
  margin: 1.72rem 0;
  margin-bottom: 10px;
  border-radius: 5px;
  margin: 10px 0;
  padding: 15px;
}

.info-mensaje {
  display: flex;
  justify-content: space-between;
}

.info-mensaje time {
  color: #ABABAB;
  font-size: 12px;
}

/*
top     - arriba
bottom  - abajo
right   - derecha
left    - izquierda
*/

.escribir-mensaje {
  height: 50px;
  border: none;
  border-top: 1px solid #CDCDCD;
  outline: none;
  padding: 11px;
  transition: all 0.5s ease;
}

.escribir-mensaje:focus {
  border-top: 3px solid #00d13b;
}
