body{
  background-color: darkgray;
}

.contenedor{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 250px);
}



#c1{
  background-color: rgb(159, 80, 233);
}

#c2{
  background-color: rgb(230, 118, 44);
}


#c3{
  background-color: rgb(214, 97, 160);
}

#c4{
  background-color: rgb(75, 78, 202);
}

#c5{
  background-color: rgb(77, 184, 100);
}

#c6{
  background-color: rgb(158, 240, 35);
}

#c7{
  background-color: rgb(99, 114, 143);
}

#c8{
  background-color: rgb(156, 62, 101);
}

  #c9{
  background-color: rgb(35, 240, 240);
}
