body{
  background-color: rgb(105, 194, 179);
  text-align: center;
}

#calculadora{
  background-color: rgb(15, 14, 14);
  box-sizing: border-box;
  height: 480px;
  max-width: 320px;
  width: 100%;
  display: inline-block;
  padding: 15px;
  margin-top: 50px;
  border-radius: 10px;
  
}

#pantalla{
  display: block;
  background-color: rgb(148, 147, 147);
  width: auto;
  height: 140px;
  border-radius: 15px;
  font-size: 45px;
  text-align: center;
  line-height: 100px; 
  overflow-y: scroll;
  
}

#contenedor-teclas{
  display: flex;
  height: 350px;
  margin-top: 15px;
  position: relative;
}

#numeros{
  display: flex;
  margin-right: 3px;
  position: relative;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  margin-right: 50px;
}

#funciones{
  flex-wrap: wrap;
  width: 50px;
  position: absolute;
  top: 0;
  right: 10px;
}

button{
  background-color: rgb(100, 99, 99);
  box-sizing: border-box;
  display: inline-block;
  font-size: xx-large;
  width: 29%;
  height: 65px;
  border-radius: 4px;
  border: none;
  margin-bottom: 8px;
  
  
}

#numeros button:nth-child(3n + 2) {
  margin-left: 3%;
  margin-right: 3%;
}


.btn-fn{
  width: 60px;
  height: 51px;
}
